
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pokemonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    width: 240px;
    border-radius: 8px;
    margin: 20px 0;
}
.aboutPokemon{
    text-align: center;
    h1{
        font-size: 1.5rem;
    };
    h2{
        font-size: 1rem;
    };
}
.pokemonImage{
    width: auto;
    height: auto;
    margin-bottom: 10px;
}
.container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container input{
    border-radius: 8px;
    border: none;
    height: 30px;
    width: 230px;
    text-align: center;
}
.container button{
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    height: 50px;
    width: 100px;
 
    transition: 0.5s;
    &:hover{
        background: rgb(255, 255, 255);
    }
}
.pokeball{
    width: 30px;
    height: 30px;
    margin: 10px 0;

    animation-name: roll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes roll {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
