* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif, monospace;
}
html{
    background: linear-gradient(rgb(198, 198, 255),rgb(211, 211, 255),rgb(204, 204, 255));
    background-repeat: no-repeat;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
}